<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header"></head>

<body>
    <nav th:replace="layouts::navbar"></nav>
    <div class="container">
                                            <!-- ↓ 该task由控制层来 -->
        <form action="/tasks/save" th:object="${task}" method="POST">
            <input type="text" placeholder="任务名称" th:field="${task.task_name}">
            <select th:field="${task.task_stage}">
                <option value="待领取的任务">待领取的任务</option>
                <option value="已领取的任务">已领取的任务</option>
                <option value="已完成的成功任务">已完成的成功任务</option>
                <option value="已完成的失败任务">已完成的失败任务</option>
            </select>
            <textarea type="text" placeholder="输入任务内容" th:field="${task.task_description}"></textarea>
            <button type="submit">新建任务</button>
        </form>
    </div>

</body>

</html>