<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header"></head>
<body>
    <nav th:replace="layouts::navbar"></nav>
    <div class="container">
                                            <!-- ↓ 该user由控制层来 -->
        <form action="/users/save" th:object="${user}" method="POST">
            <input type="text" placeholder="用户名称" th:field="${user.user_name}">
            <input type="text" placeholder="用户邮箱" th:field="${user.user_email}">
            <input type="text" placeholder="用户推特id" th:field="${user.user_twitter_id}">
            <button type="submit">新建用户</button>
        </form>
    </div>

</body>

</html>